@import "includes/fonts";
@import "includes/reset";
@import "includes/base";

/* ------ Styles ------ */
input[type="file"] {
  display: none;
}
.app {
  position: absolute;
  // top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  overflow: hidden;
  max-width: 1000px;
  min-width: 300px;
  max-height: 100%;
  width: 99%;
  height: 100%;
  background: #313B44;
  -webkit-box-shadow: 0px 5px 17px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 17px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 17px 0px rgba(0, 0, 0, 0.75);
  color: #fff;

  &-header {
    display: table;
    width: 100%;
    height: 5%;
    background: #0988ea;

    &__logo {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      text-transform: uppercase;

      a {
        color: #fff;
      }
    }
  }
  &-info {
    @extend .app-header;
    background: #313b44;
    padding: 0 2%;
    font-weight: 300;
    font-size: 24px;
    color: #d7e2ea;

    span {
      display: table-cell;
      vertical-align: middle;
    }
  }
  &-chat {
    height: 95%;

    > div {
      float: left;
    }
    &-nav {
      height: 100%;
      width: 10%;
      background: #22282d;
    }
    &-list {
      height: 100%;
      width: 25%;
      overflow-y: auto;

      &::-webkit-scrollbar {
        display: none;
      }
      &__item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        resize: vertical;
        height: 10%;
        padding: 0 15px;
        border-bottom: 1px solid #d2dce4;
        background: #ebf0f2;
        cursor: pointer;

        &:hover {
          opacity: .5;
        }
        &--active {
          background: #f9fafb;
        }
      }
      &__img {
        position: relative;
        float: left;
        margin-right: 10px;
        resize: vertical;

        img {
          display: block;
          width: 45px;
          height: 45px;
          border-radius: 50%;
          overflow: hidden;
        }
        &--online:after {
          content: '';
          position: absolute;
          bottom: 0;
          right: 0;
          display: block;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          border: 2px solid #fff;
          background: #3cc35a;
        }
      }
      &__title {
        overflow: hidden;
      }
      &__name {
        color: #5b6a78;
        font-weight: 700;
        font-size: 1em;
        white-space: nowrap;
      }
      &__msg {
        overflow: hidden;
        color: #92a0ad;
        font-size: .75em;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    &-history {
      position: relative;
      z-index: 1;
      height: 100%;
      width: 65%;
      background: #77B7E4;

      &__panel {
        position: relative;
        z-index: 3;
        height: 15%;
        padding: 20px 20px;
        background: #f9fafb;
        -webkit-box-shadow: 0px 6px 11px -1px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: 0px 6px 11px -1px rgba(0, 0, 0, 0.6);
        box-shadow: 0px 6px 11px -1px rgba(0, 0, 0, 0.6);
      }
      &__area, .js-msg-area {
        display: block;
        width: 75%;
        height: 100%;
        margin: 0 auto;
        font-family: $Museo;
        font-weight: 500;
        border: none;
        resize: none;
        box-shadow: 0 1px 0 0 #e8e8e8;
        background: transparent;
        transition: .3s;
        outline: none;

        &:focus {
          box-shadow: 0 2px 0 0 #77b7e4;
        }
      }
      &__icon {
        position: absolute;
        display: block;
        width: 25px;
        height: 25px;
        cursor: pointer;

        &:hover {
          opacity: .75;
        }
        &--right {
          right: 20px;
        }
        .chat-icon {
          display: inline-block;
          width: 25px;
          height: 25px;
          background-size: cover;

          &--smile {
            background-image: url('../img/smile.png');
          }
          &--clip {
            background-image: url('../img/clip.png');
          }
        }
      }
      &__submit {
        position: absolute;
        padding: 5px 10px;
        bottom: 20px;
        right: 20px;
        border: none;
        border-radius: 2px;
        outline: none;
        background: transparent;
        color: #0CBAF1;
        font-family: $Museo;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;

        &:hover {
          background: #EEF3F5;
        }
      }
      &__view, .js-view {
        height: 85%;
        padding: 15px 10px;
        overflow-y: auto;
      }
      &__msg, .js-view__msg {
        position: relative;
        z-index: 2;
        width: 95%;
        min-height: 15%;
        padding: 20px 0;
        margin: 10px auto;
        cursor: pointer;
        overflow: hidden;
        border-radius: 1px;
        background: #f9fafb;
        color: #5b6a78;
        -webkit-box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, .75);
        -moz-box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, .75);
        box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, .75);
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0) scale(1.0, 1.0);
        transition: .3s;

        &:hover, &--checked {
          box-shadow: none;
          opacity: .75;
        }
      }
      &__img, .js-view__img {
        position: absolute;
        top: 50%;
        left: 3%;
        display: block;
        margin-top: -28px;
        overflow: hidden;
      }
      &__img img, .js-view__img img {
        display: block;
        width: 56px;
        height: 56px;
        overflow: hidden;
        border-radius: 50%;
      }
      &__time {
        position: absolute;
        top: 5px;
        display: block;
        width: 100%;
        text-align: center;
        font-size: .75em;
        font-weight: 300;
      }
      &__cont, .js-view__cont {
        @extend .app-chat-list__item;
        position: relative;
        width: 80%;
        margin: 0 5% 0 15%;
        background: transparent;
        border: none;
        &:hover {
          opacity: 1;
        }
      }
      &__name, .js-view__name {
        font-family: $Museo;
        font-size: .9em;
        padding: 5px 0;
        color: #00385F;
        font-weight: 700;
      }
      &__text, .js-view__text {
        font-family: $Museo;
        font-size: 12px;
        font-weight: 500;
        color: #333;
        word-wrap: break-word;
      }
      &__text--img {
        text-align: center;
      }
    }
  }
}