$Museo: 'Museo Sans', Arial, sans-serif;
$Proxi: 'Proximanova Bold', sans-serif;

@font-face {
    font-family: 'Proximanova Bold';
    src: url('../fonts/proximanova-extrabold.eot');
    src: url('../fonts/proximanova-extrabold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-extrabold.woff2') format('woff2'),
         url('../fonts/proximanova-extrabold.woff') format('woff'),
         url('../fonts/proximanova-extrabold.ttf') format('truetype'),
         url('../fonts/proximanova-extrabold.svg#Proximanova Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans';
    src: url('../fonts/museosanscyrl-300.eot');
    src: url('../fonts/museosanscyrl-300.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosanscyrl-300.woff2') format('woff2'),
         url('../fonts/museosanscyrl-300.woff') format('woff'),
         url('../fonts/museosanscyrl-300.ttf') format('truetype'),
         url('../fonts/museosanscyrl-300.svg#Museo Sans') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans';
    src: url('../fonts/museosanscyrl-500.eot');
    src: url('../fonts/museosanscyrl-500.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosanscyrl-500.woff2') format('woff2'),
         url('../fonts/museosanscyrl-500.woff') format('woff'),
         url('../fonts/museosanscyrl-500.ttf') format('truetype'),
         url('../fonts/museosanscyrl-500.svg#Museo Sans') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans';
    src: url('../fonts/museosanscyrl-700.eot');
    src: url('../fonts/museosanscyrl-700.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosanscyrl-700.woff2') format('woff2'),
         url('../fonts/museosanscyrl-700.woff') format('woff'),
         url('../fonts/museosanscyrl-700.ttf') format('truetype'),
         url('../fonts/museosanscyrl-700.svg#Museo Sans') format('svg');
    font-weight: 700;
    font-style: normal;
}